Render System=OpenGL 3+ Rendering Subsystem

[OpenGL 3+ Rendering Subsystem]
# Resolución de pantalla
Video Mode=1024 x 768
# Pantalla completa (No/Yes)
Full Screen=No
# Sincronización vertical para evitar "tearing"
VSync=Yes
# Antialiasing (suavizado de bordes) - Prueba con 0, 2, 4 u 8
FSAA=4
# Gamma para colores más realistas en monitores modernos
sRGB Gamma Conversion=No
# Modo de texturas (FBO es el estándar moderno)
RTT Preferred Mode=FBO
